/*
Global CSS settings should be defined here
*/

.Site {
    min-height: 100vh;
}

.ContentWrap {
    padding-bottom: 2.5rem; /* Footer height */
    text-align: center;
}

main {
    padding-top: 20px;
    background-color: dimgray;
}

h4 {
    margin: 0;
}
