.Header {
    /* background-image: url("./resources/pattern.png"); */
    background-color: rgb(68, 68, 68);
    background-repeat: repeat;
    /* height: 70px; */
    align-items: center;
    justify-content: center;
    display: grid;
}

.Header a {
    text-decoration: none;
}

.HeaderTitleText {
    background: linear-gradient(
        #fceabb 0%,
        #fccd4d 50%,
        #fab500 51%,
        #fbdf93 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 10px;
}

.HeaderDescText {
    font-family: "ZCOOL KuaiLe", cursive;
    font-size: 1.5em;
    color: black;
    margin: 0px;
}

/* 
Media Queries
*/

@media only screen and (max-width: 407px) {
    .HeaderDescText {
        font-size: 5vw;
    }
}

@media only screen and (min-width: 720px) {
    .Header {
        grid-template-columns: repeat(20, 1fr);
    }

    .HeaderTitleText {
        grid-column: 1 / span 5;
        font-size: 2rem;
    }

    #homeButton {
        grid-column: 10;
    }

    .activeButton {
        text-decoration: overline !important;
    }

    #galleryButton {
        grid-column: 11;
    }
}
