.EmailForm {
    border-radius: 5px;
    background-color: darkgray;
    padding: 20px;
    width: fit-content;
    margin: auto auto 1.5rem auto;
}

/* General input fields for form class */
.form input {
    display: block;
}
/* Applies to just the 'submit' type within input element in form class
    and centers it
*/
.form input[type="submit"] {
    margin: 0 auto;
}