.IconContainer {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 1%;
    border: 0;
    background: none;
    outline: none;
}

.IconContainer.expanded {
    top: 1.25vh;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.expanded .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.expanded .bar2 {
    opacity: 0;
}

.expanded .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (min-width: 601px) {
    .IconContainer {
        display: none !important;
    }
}
