.IconContainer {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 1%;
    top: 0.5% !important;
    border: 0;
    background: none;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.expanded .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.expanded .bar2 {
    opacity: 0;
}

.expanded .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (max-width: 350px) {
    .IconContainer {
        top: 0.25% !important;
    }

    .IconContainer.expanded {
        top: 1% !important;
    }
}

@media only screen and (min-width: 350px) and (max-width: 550px) {
    .IconContainer.expanded {
        top: 3% !important;
    }
}

@media only screen and (min-width: 550px) and (max-width: 600px) {
    .IconContainer.expanded {
        top: 4% !important;
    }
}

@media only screen and (min-width: 600px) {
    .IconContainer {
        display: none !important;
    }
}
