/*
---------------
Containers
---------------
 */

.html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}

body {
    margin: 0px;
    padding: 0px 0px 0px;
    text-align: center;
}

/* Use: Put .content-wrap div within .Site and only excludes .footer */
.content-wrap {
    text-align: center;
    min-height: 100%;
    min-width: 100%;
    padding-bottom: 2rem;
}

/* Gallery: 1-column,2-row grid of photo and it's description */
.Gallery {
    display: grid;
    max-width: 100%;
    background-color: lightgray;
    grid-template-rows: auto 1fr;
    font-size: 20px;
    align-items: center;
    /*border: 1px solid rgba(0, 0, 0, 0.8); */
    cursor: pointer;
}

.GalleryEntry {
    transition: transform 1s;
    padding-left: 5px;
    padding-right: 5px;
}

.GalleryEntry:hover {
    transform: translateY(-10px);
}

.Button_Gallery {
    display: none;
    height: 3rem;
    width: 5rem;
    /* Make styling same as .Gallery */
}

.BusinessDescription {
    background: slateblue;
    padding: 5px;
    font-size: large;
    margin: 0;
}

/*
---------------
General Classes
---------------
 */

.GmailIcon {
    width: 45px;
    height: 42px;
    position: relative;
    padding-right: 5px;
}

/*
Text Classes
*/

.App-intro {
    font-size: large;
}

.HeaderTitleText {
    font-size: 3em;
    font-weight: 500;
    background: linear-gradient(
        #fceabb 0%,
        #fccd4d 50%,
        #fab500 51%,
        #fbdf93 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Quicksand", sans-serif;
}

.HeaderDescText {
    font-family: "ZCOOL KuaiLe", cursive;
    font-size: 1.5em;
    color: black;
    margin: 0px;
}

.ContactInfo {
    border-radius: 25px;
    background: darkslateblue;
    padding: 20px;
    width: 10%;
    margin: 2rem auto 2rem auto;
    min-width: 50vw;
}

/*
Responsive Images
*/
img {
    max-width: 95%;
    height: auto;
}

.ResponsiveImage {
    max-width: 95%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.4);
    margin-top: 4vw;
    margin-bottom: 1rem;
    /* filter: opacity(200%); */
}

/*
-------------------------------
MEDIA QUERIES for Mobile Devices
-------------------------------
*/
@media only screen and (max-width: 500px) {
    .HeaderTitleText {
        font-size: 10vw;
    }
}

@media only screen and (max-width: 407px) {
    .App-intro {
        font-size: 4.6vw;
        scroll-padding-inline-start: 3px;
        scroll-padding-inline-end: 3px;
    }

    .HeaderDescText {
        font-size: 5vw;
    }
}

@media only screen and (max-width: 330px) {
    .Footer {
        font-size: 4.7vw;
        color: aqua;
    }
}

/* min-width: 1000px BEFORE */
@media only screen and (min-width: 700px) {
    .Gallery {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-template-rows: unset;
    }
}

@media only screen and (max-width: 799px) {
    .Button_Gallery {
        display: block;
    }
}

.mobileButton {
    margin-bottom: 5px !important;
}
